@using helping_hand.Models

<h1>Request Help</h1>

<EditForm Model="@request">

    <div class="form-group">
        <label for="name">Full Name</label>
        <input type="text" class="form-control" id="name" aria-describedby="nameHelp" placeholder="Enter name">
        <small id="nameHelp" class="form-text text-muted"></small>
    </div>

    <div class="form-group">
        <label for="item">Item</label>
        <input type="text" class="form-control" id="item" placeholder="Item">
    </div>

    <div class="form-group">
        <label for="additionalInfo">Additional Information</label>
        <textarea id="additionalInfo" rows="3" class="form-control"></textarea>
    </div>

    <div class="form-group">
        <label for="item">Urgency</label>
        <select>
            <option>Urgent</option>
            <option>Moderate</option>
            <option>Not Urgent</option>
        </select>
        @*<input type="text" class="form-control" id="item" placeholder="Item">*@
    </div>

    <div class="form-group">
        <label for="contact">Contact</label>
        <input type="text" class="form-control" id="contact" placeholder="Contact">
    </div>

    <div class="form-group">
        <label for="address">Address</label>
        <input type="text" class="form-control" id="address" placeholder="Address">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</EditForm>

@code {
    private Request request = new Request();
}
